
if SHIELD_THEWOLFKB_LEFT

config ZMK_KEYBOARD_NAME
    default "thewolfkb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_THEWOLFKB_LEFT || SHIELD_THEWOLFKB_RIGHT

config ZMK_SPLIT
    default y

endif
